body{
    margin: 0;
}
p{
    color: white;
    margin-left: 1.5rem;
    margin-right: 33%;
}
a{
    text-decoration: none;
    justify-items: center;
    justify-content: center;
    justify-self: center;
    }
.total{
    justify-self: auto;
    position: fixed;
    background: linear-gradient(#eeaadd,transparent);
    min-height: 100%;
    min-width: 100%;
}
h1{
    color: white;
    margin-top: 0;
}
/*XXXXXXXXXXXXXXX GRID XXXXXXXXXXXXX */
.headers{
display: grid;
grid-template-columns: 1fr 1fr 1fr;
gap: 31.4px;
color: white;

}
.headerItem{
 
    background: fixed rgb(255, 82, 140);
    border-radius:5px;
    /* margin-top:5px; */
    /* margin-bottom:0; */
    margin-left: 25px;
    padding-bottom: 0;
    padding-top: 0;
    transition: .1s transform;
    
}

sub{
    margin-top: 0;
    color: black;
    z-index: 10;
}
/* @keyframes scaleup{
    from{
        transform:scale(1) ;
    }

    to{
        transform:scale(1.2) ;
    }
} */

.headerItem:hover{

    transform: scale(1.1);
    transition-delay: .1s;


}
